<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.credit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar">
        <activity
            android:name=".Activitys.WelcomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Contacts.ContactsActivity" />
        <activity android:name=".Activitys.SearchFirmActivty" />
        <activity android:name=".Activitys.CompanyDetailsActivity" />
        <activity android:name=".Activitys.MainActivity" />
        <activity android:name=".Activitys.DetailsContentActivity" />
        <activity android:name=".Activitys.AlertActivity" />
        <activity android:name=".Activitys.Alert_CActivity" />
        <activity android:name=".Activitys.Honor_Support_Activity" />
        <activity android:name=".Activitys.PledgeActivity" />
        <activity android:name=".Activitys.JudicialActivity" />
        <activity android:name=".Activitys.PunishActivity" />
        <activity android:name=".Activitys.AbnormalActivity" />
        <activity android:name=".Activitys.ObeyedActivity" />
        <activity android:name=".Activitys.CopyrightActivity" />
        <activity android:name=".Activitys.PatentActivity" />
        <activity android:name=".Activitys.Mortgage_detail_Activity" />
        <activity android:name=".Activitys.AdminActivity" />
        <activity android:name=".Activitys.TrademarkActivity"/>
        <activity android:name=".Activitys.Public_Detail_ctivity"/>
        <activity android:name=".Activitys.AdvertisementActivity"/>
    </application>

</manifest>